/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.centro, #como-funciona .como-funciona-slider .como-funciona-conteudo, footer .social, .overlay, .overlay-comerciante, .overlay-comerciante-branco, .overlay-comerciante-branco form, .overlay-termos {
  *zoom: 1;
}
.centro:before, #como-funciona .como-funciona-slider .como-funciona-conteudo:before, footer .social:before, .overlay:before, .overlay-comerciante:before, .overlay-comerciante-branco:before, .overlay-comerciante-branco form:before, .overlay-termos:before, .centro:after, #como-funciona .como-funciona-slider .como-funciona-conteudo:after, footer .social:after, .overlay:after, .overlay-comerciante:after, .overlay-comerciante-branco:after, .overlay-comerciante-branco form:after, .overlay-termos:after {
  content: " ";
  display: table;
}
.centro:after, #como-funciona .como-funciona-slider .como-funciona-conteudo:after, footer .social:after, .overlay:after, .overlay-comerciante:after, .overlay-comerciante-branco:after, .overlay-comerciante-branco form:after, .overlay-termos:after {
  clear: both;
}

.geral-sprite, .geral-breve_appstore, .breve .appstore, .geral-breve_google, .breve .google-play, .geral-comerciante_icone1, #comerciante ul li.beneficios1:after, .geral-comerciante_icone2, #comerciante ul li.beneficios2:after, .geral-comerciante_icone3, #comerciante ul li.beneficios3:after, .geral-comerciante_icone4, #comerciante ul li.beneficios4:after, .geral-comerciante_icone5, #comerciante ul li.beneficios5:after, .geral-comofunciona_passo1, .geral-comofunciona_passo2, .geral-comofunciona_passo3, .geral-comofunciona_passo4, .geral-comofunciona_setas, #como-funciona .como-funciona-icones ul li:not(:last-child) div:after, .geral-download_appstore, .download .appstore, .geral-download_google, .download .google-play, .geral-giks-logo, #menu h1 a, .geral-giks-logo_footer, footer h3, .geral-lightbox_bullet, .overlay-comerciante .overlay-comerciante-topicos li:before, .geral-social_facebook, .geral-social_gplus, .geral-social_instagram, .geral-social_twitter, .geral-social_vimeo, .geral-social_youtube, .geral-trupe, footer .copyright a:after, .geral-vantagens_icone1, .geral-vantagens_icone2, .geral-vantagens_icone3, .geral-vantagens_icone4, .geral-vantagens_icone5, .geral-vantagens_icone6 {
  background: url("../img/geral-s74653a7d7b.png") no-repeat;
}

.geral-breve_appstore, .breve .appstore {
  background-position: 0 -576px;
  height: 67px;
  width: 195px;
}

.geral-breve_google, .breve .google-play {
  background-position: 0 -509px;
  height: 67px;
  width: 195px;
}

.geral-comerciante_icone1, #comerciante ul li.beneficios1:after {
  background-position: -129px -81px;
  height: 33px;
  width: 33px;
}

.geral-comerciante_icone2, #comerciante ul li.beneficios2:after {
  background-position: -136px 0;
  height: 33px;
  width: 33px;
}

.geral-comerciante_icone3, #comerciante ul li.beneficios3:after {
  background-position: -160px -643px;
  height: 33px;
  width: 33px;
}

.geral-comerciante_icone4, #comerciante ul li.beneficios4:after {
  background-position: -160px -723px;
  height: 33px;
  width: 33px;
}

.geral-comerciante_icone5, #comerciante ul li.beneficios5:after {
  background-position: -96px -81px;
  height: 33px;
  width: 33px;
}

.geral-comofunciona_passo1 {
  background-position: -80px -643px;
  height: 80px;
  width: 80px;
}

.geral-comofunciona_passo2 {
  background-position: 0 -643px;
  height: 80px;
  width: 80px;
}

.geral-comofunciona_passo3 {
  background-position: -80px -723px;
  height: 80px;
  width: 80px;
}

.geral-comofunciona_passo4 {
  background-position: 0 -723px;
  height: 80px;
  width: 80px;
}

.geral-comofunciona_setas, #como-funciona .como-funciona-icones ul li:not(:last-child) div:after {
  background-position: 0 0;
  height: 7px;
  width: 136px;
}

.geral-download_appstore, .download .appstore {
  background-position: 0 -442px;
  height: 67px;
  width: 195px;
}

.geral-download_google, .download .google-play {
  background-position: 0 -375px;
  height: 67px;
  width: 195px;
}

.geral-giks-logo, #menu h1 a {
  background-position: 0 -309px;
  height: 66px;
  width: 147px;
}

.geral-giks-logo_footer, footer h3 {
  background-position: -48px -129px;
  height: 60px;
  width: 137px;
}

.geral-lightbox_bullet, .overlay-comerciante .overlay-comerciante-topicos li:before {
  background-position: -48px -33px;
  height: 5px;
  width: 6px;
}

.geral-social_facebook {
  background-position: 0 -33px;
  height: 48px;
  width: 48px;
}

.geral-social_gplus {
  background-position: -48px -81px;
  height: 48px;
  width: 48px;
}

.geral-social_instagram {
  background-position: 0 -81px;
  height: 48px;
  width: 48px;
}

.geral-social_twitter {
  background-position: -54px -33px;
  height: 48px;
  width: 48px;
}

.geral-social_vimeo {
  background-position: -102px -33px;
  height: 48px;
  width: 48px;
}

.geral-social_youtube {
  background-position: 0 -129px;
  height: 48px;
  width: 48px;
}

.geral-trupe, footer .copyright a:after {
  background-position: -147px -309px;
  height: 15px;
  width: 19px;
}

.geral-vantagens_icone1 {
  background-position: -60px -249px;
  height: 60px;
  width: 60px;
}

.geral-vantagens_icone2 {
  background-position: 0 -189px;
  height: 60px;
  width: 60px;
}

.geral-vantagens_icone3 {
  background-position: -60px -189px;
  height: 60px;
  width: 60px;
}

.geral-vantagens_icone4 {
  background-position: -120px -189px;
  height: 60px;
  width: 60px;
}

.geral-vantagens_icone5 {
  background-position: 0 -249px;
  height: 60px;
  width: 60px;
}

.geral-vantagens_icone6 {
  background-position: -120px -249px;
  height: 60px;
  width: 60px;
}

/*=================================================================================================
  GERAL
  ===============================================================================================*/
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

::selection {
  background: #4adda8;
  color: #000;
}

::-moz-selection {
  background: #4adda8;
  color: #000;
}

.centro {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

/*=================================================================================================
  MENU
  ===============================================================================================*/
#menu {
  width: 100%;
  height: 110px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
}
#menu h1 {
  margin: 0;
}
#menu h1 a {
  display: block;
  float: left;
  padding: 0;
  margin: 22px 0 0;
  text-indent: -9999px;
}
#menu nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 110px;
}
#menu nav a {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #787878;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#menu nav a:last-child {
  margin-right: 0;
}
#menu nav a:hover {
  color: #a40057;
}
#menu nav a.active {
  color: #a40057;
  padding-bottom: 6px;
  border-color: #36b289;
}

/*=================================================================================================
  INTRO
  ===============================================================================================*/
#intro {
  margin-top: 110px;
  position: relative;
  background: url("../img/intro_bg.jpg") no-repeat center #36b289;
  border-bottom: 1px solid #36b289;
  height: 430px;
}
#intro .centro {
  height: 430px;
}
#intro h2 {
  z-index: 2;
  position: relative;
  float: left;
  margin: 55px 0 40px;
  width: 510px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.3;
}
#intro h2 strong {
  font-weight: 300;
}
#intro .download, #intro .breve {
  z-index: 2;
  position: relative;
  clear: left;
}
#intro .download a, #intro .breve a {
  text-indent: -9999px;
  display: block;
  float: left;
  margin-right: 10px;
}
#intro .iphone {
  position: absolute;
  right: -30px;
  bottom: 1px;
  background: url("../img/intro_iphone.png") no-repeat center;
  width: 480px;
  height: 430px;
}

/*=================================================================================================
  SOBRE
  ===============================================================================================*/
#sobre img {
  position: absolute;
  left: 25px;
  bottom: 0;
}
#sobre .sobre-texto {
  float: right;
  width: 530px;
  margin: 40px 0;
}
#sobre .sobre-texto p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #8c8c8c;
  margin-bottom: 12px;
  line-height: 28px;
}
#sobre .sobre-texto p strong {
  color: #36b289;
  font-weight: 700;
}
#sobre .sobre-texto p:last-child {
  margin: 0;
}

/*=================================================================================================
  COMO FUNCIONA
  ===============================================================================================*/
#como-funciona .como-funciona-chamada {
  background: #ebebeb;
  text-align: center;
  padding: 30px 0 50px;
}
#como-funciona .como-funciona-chamada h3 {
  color: #a40057;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 20px;
}
#como-funciona .como-funciona-chamada h4 {
  color: #787878;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
#como-funciona .como-funciona-slider {
  background: #fff;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo {
  padding: 30px 0 50px;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo .esquerda {
  float: left;
  width: 460px;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo .esquerda p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #8c8c8c;
  line-height: 1.3;
  margin-bottom: 12px;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo .esquerda p:last-child {
  margin: 0;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo .direita {
  float: right;
  width: 438px;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo .direita p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  line-height: 1.5;
  margin-bottom: 20px;
}
#como-funciona .como-funciona-slider .como-funciona-conteudo .direita .download a, #como-funciona .como-funciona-slider .como-funciona-conteudo .direita .breve a {
  text-indent: -9999px;
  display: block;
  float: left;
  margin-right: 10px;
}
#como-funciona .como-funciona-slider .botao {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -30px;
  bottom: -30px;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  background: url("../img/comofunciona_botao-mais.png") no-repeat center;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
#como-funciona .como-funciona-slider .botao:hover {
  background: url("../img/comofunciona_botao-mais-hover.png") no-repeat center;
}
#como-funciona .como-funciona-slider .botao.active {
  background: url("../img/comofunciona_botao-menos.png") no-repeat center;
}
#como-funciona .como-funciona-slider .botao.active:hover {
  background: url("../img/comofunciona_botao-menos-hover.png") no-repeat center;
}
#como-funciona .como-funciona-icones {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding: 40px 0;
}
#como-funciona .como-funciona-icones ul {
  list-style-type: none;
}
#como-funciona .como-funciona-icones ul li {
  float: left;
  width: 25%;
  text-align: center;
}
#como-funciona .como-funciona-icones ul li div {
  margin: 0 auto 20px;
  position: relative;
}
#como-funciona .como-funciona-icones ul li:not(:last-child) div:after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 34px;
  left: 95px;
}
#como-funciona .como-funciona-icones ul li p {
  text-transform: uppercase;
  /*color: #8c8c8c;*/
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3;
  width: 100%;
  margin: 0 auto;
}
#como-funciona .como-funciona-icones ul li p strong {
  /*color: #a40057;*/
}

/*=================================================================================================
  VANTAGENS
  ===============================================================================================*/
#vantagens h3 {
  margin-top: 60px;
  color: #36b289;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
#vantagens h4 {
  color: #36b289;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 70%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 1.3;
}
#vantagens .iphone {
  height: 510px;
  width: 100%;
  margin: 20px 0 45px;
  padding-top: 80px;
  background: url("../img/vantagens_iphone.png") no-repeat center;
}
#vantagens .iphone .vantagens {
  text-decoration: none;
  color: #8c8c8c;
  font-family: 'Roboto', sans-serif;
  font-size: lightpx;
  font-weight: 300;
  line-height: 1.3;
  display: block;
  width: 260px;
  clear: both;
  text-align: right;
  margin-bottom: 80px;
}
#vantagens .iphone .vantagens div {
  margin-left: 20px;
  float: right;
}
#vantagens .iphone .esquerda {
  float: left;
  margin-left: 30px;
}
#vantagens .iphone .direita {
  float: right;
  margin-right: 30px;
}
#vantagens .iphone .direita .vantagens {
  text-align: left;
}
#vantagens .iphone .direita .vantagens div {
  float: left;
  margin-right: 20px;
  margin-left: 0;
}

/*=================================================================================================
  COMERCIANTE
  ===============================================================================================*/
#comerciante {
  height: 585px;
  background: url("../img/comerciante_bg.jpg") no-repeat center #36b289;
  position: relative;
}
#comerciante .centro {
  height: 535px;
}
#comerciante h3 {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
}
#comerciante .macbook {
  position: absolute;
  width: 700px;
  height: 480px;
  background: url("../img/comerciante_macbook.png") no-repeat center;
  bottom: -50px;
  left: -100px;
}
#comerciante .beneficios {
  width: 380px;
  margin-top: 70px;
  float: right;
}
#comerciante ul {
  list-style-type: none;
  width: 324px;
  margin-bottom: 40px;
  float: right;
}
#comerciante ul li {
  position: relative;
  display: inline-block;
  color: #174f3d;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
#comerciante ul li:last-child {
  margin: 0;
}
#comerciante ul li:after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 33px;
  left: -50px;
  top: -9px;
}
#comerciante .botao {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  background: url("../img/comerciante_botao-mais.png") no-repeat center left;
  padding: 8px 0 0 70px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#comerciante .botao:hover {
  background-image: url("../img/comerciante_botao-mais-hover.png");
  color: #a40057;
}

/*=================================================================================================
  QUEM ADERIU
  ===============================================================================================*/
#quem-aderiu {
  background: #ebebeb;
  padding: 0 0 70px;
}
#quem-aderiu h3 {
  text-align: center;
  text-transform: uppercase;
  color: #8c8c8c;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 100;
  margin-top: 65px;
}
#quem-aderiu ul {
  width: 80%;
  margin: 50px auto 0;
}
#quem-aderiu ul li {
  display: inline-block;
  text-align: center;
  margin: 0 20px 30px 20px;
}
#quem-aderiu ul li a img:last-child {
  display: none;
}
#quem-aderiu ul li a:hover img:last-child {
  display: inline-block;
}
#quem-aderiu ul li a:hover > img {
  display: none;
}

/*=================================================================================================
  CONTATO
  ===============================================================================================*/
#contato {
  padding: 60px 0 60px;
  position: relative;
}
#contato .icone-contato {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -40px;
  top: -40px;
  width: 80px;
  height: 80px;
  background: url("../img/contato_icone.png") no-repeat center;
  -webkit-transition: background-image 0.3s ease;
  -moz-transition: background-image 0.3s ease;
  -o-transition: background-image 0.3s ease;
  transition: background-image 0.3s ease;
}
#contato .icone-contato.active {
  background-image: url("../img/contato_icone-enviado.png");
}
#contato h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  color: #36b289;
  margin-bottom: 30px;
}
#contato form {
  width: 620px;
  margin: 0 auto;
  text-align: center;
}
#contato form input, #contato form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  color: #8c8c8c;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 20px;
}
#contato form input[type=submit], #contato form textarea[type=submit] {
  border: 1px solid transparent;
  background: #36b289;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#contato form input[type=submit]:hover, #contato form textarea[type=submit]:hover {
  border: 1px solid #36b289;
  background: transparent;
  color: #36b289;
}
#contato form input[name="nome"], #contato form textarea[name="nome"] {
  width: 300px;
  float: left;
  margin-right: 20px;
}
#contato form input[name="email"], #contato form textarea[name="email"] {
  width: 300px;
}
#contato form input[name="assunto"], #contato form input[name="mensagem"], #contato form textarea[name="assunto"], #contato form textarea[name="mensagem"] {
  width: 100%;
}
#contato form input[name="mensagem"], #contato form textarea[name="mensagem"] {
  height: 160px;
  resize: vertical;
}
#contato .response {
  display: none;
  text-align: center;
}
#contato .response h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #36b289;
  margin-bottom: 10px;
}
#contato .response p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #8c8c8c;
}

/*=================================================================================================
  NEWSLETTER
  ===============================================================================================*/
#newsletter {
  position: relative;
  height: 140px;
  padding-top: 5px;
  background: url("../img/newsletter_bg.jpg") no-repeat center #2d8c6a;
}
#newsletter .centro {
  width: 900px;
}
#newsletter .pattern {
  width: 100%;
  height: 11px;
  background: url("../img/newsletter_pattern.png") repeat-x center;
  position: absolute;
  top: 0;
}
#newsletter h4 {
  line-height: 140px;
  float: left;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
#newsletter form {
  margin-top: 48px;
  float: right;
}
#newsletter form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid #fff;
  height: 44px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 300;
  outline: 0;
  padding: 12px;
  width: 190px;
  margin: 0 10px 0 0;
}
#newsletter form input[type=email] {
  width: 230px;
}
#newsletter form input[type=submit] {
  border: none;
  width: auto;
  background: #fff;
  color: #94004c;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 18px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#newsletter form input[type=submit]:hover {
  background: #94004c;
  color: #fff;
}
#newsletter .response {
  display: none;
}
#newsletter .response h4 {
  float: none;
  text-align: center;
}

#newsletter input::-webkit-input-placeholder {
  color: #fff;
}

#newsletter input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

#newsletter input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

#newsletter input:-ms-input-placeholder {
  color: #fff;
}

/*=================================================================================================
  FOOTER
  ===============================================================================================*/
footer {
  background: #23231e;
  text-align: center;
  padding: 40px 0;
}
footer h3 {
  text-indent: -9999px;
  margin: 0 auto;
}
footer .social {
  width: 100%;
  display: block;
  margin: 30px 0;
}
footer ul {
  list-style-type: none;
  width: 325px;
  margin: 0 auto;
}
footer ul li {
  display: inline-block;
  float: left;
  margin-right: 5px;
}
footer ul li:last-child {
  margin: 0;
}
footer ul li a {
  display: inline-block;
  text-indent: -9999px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
footer ul li a:hover {
  background-color: #a40057;
}
footer .botao-termos {
  clear: both;
  display: inline-block;
  margin: 0 auto;
  color: #3fd9ab;
  border: 1px solid #3fd9ab;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .botao-termos:hover {
  color: #fff;
  border-color: #fff;
}
footer .copyright {
  font: 10px 'Verdana', sans-serif;
  color: #505050;
  cursor: default;
  margin-top: 25px;
}
footer .copyright a {
  position: relative;
  text-decoration: none;
  color: #505050;
  padding-right: 26px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer .copyright a:hover {
  color: #a0a0a0;
}
footer .copyright a:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  top: -1px;
}

/*=================================================================================================
  OVERLAY BASE
  ===============================================================================================*/
.overlay {
  margin: 0;
  background: #36b289;
  padding: 90px 0 40px;
  min-height: 100%;
}
.overlay .overlay-voltar {
  display: inline-block;
  width: 73px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  padding-top: 10px;
  background: url("../img/overlay_voltar.png") no-repeat top;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.overlay .overlay-voltar:hover {
  color: #a40057;
  background-image: url("../img/overlay_voltar-hover.png");
}
.overlay .overlay-conteudo {
  float: right;
  width: 840px;
  margin-left: 63px;
}
.overlay.overlay-branco {
  background: #fff;
  height: auto;
  min-height: 0;
  padding: 40px 0 90px;
}

/*=================================================================================================
  OVERLAY COMERCIANTE
  ===============================================================================================*/
.overlay-comerciante h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.overlay-comerciante h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin: 30px 0;
  line-height: 1.5;
}
.overlay-comerciante .overlay-comerciante-texto {
  width: 400px;
  float: left;
  color: #174f3d;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.overlay-comerciante .overlay-comerciante-texto p {
  line-height: 1.5;
  margin-bottom: 16px;
}
.overlay-comerciante .overlay-comerciante-topicos {
  width: 360px;
  float: right;
  color: #174f3d;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.overlay-comerciante .overlay-comerciante-topicos li {
  margin-bottom: 22px;
  list-style-type: none;
  position: relative;
  line-height: 1.3;
}
.overlay-comerciante .overlay-comerciante-topicos li:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: -20px;
}

.overlay-comerciante-branco h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #36b289;
  line-height: 1.3;
  margin: 0 0 30px;
}
.overlay-comerciante-branco form {
  width: 620px;
  float: left;
  text-align: center;
}
.overlay-comerciante-branco form .esquerda {
  width: 305px;
  float: left;
}
.overlay-comerciante-branco form .direita {
  width: 305px;
  float: right;
}
.overlay-comerciante-branco form .submit {
  width: 100%;
  clear: both;
  text-align: center;
}
.overlay-comerciante-branco form input, .overlay-comerciante-branco form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d2d2d2;
  color: #8c8c8c;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 10px;
  width: 305px;
}
.overlay-comerciante-branco form input {
  height: 48px;
}
.overlay-comerciante-branco form input[name="ddd"] {
  width: 53px;
  float: left;
}
.overlay-comerciante-branco form input[name="telefone"] {
  width: 253px;
  float: left;
  margin-left: -1px;
}
.overlay-comerciante-branco form input[type=submit] {
  width: auto;
  margin: 10px auto 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid transparent;
  background: #a40057;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.overlay-comerciante-branco form input[type=submit]:hover {
  border: 1px solid #a40057;
  background: transparent;
  color: #a40057;
}
.overlay-comerciante-branco form textarea {
  height: 164px;
  resize: none;
}
.overlay-comerciante-branco img {
  float: right;
  margin: -30px 30px 0 0;
}
.overlay-comerciante-branco .response {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.overlay-comerciante-branco .response h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #36b289;
  margin-bottom: 10px;
}
.overlay-comerciante-branco .response p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #8c8c8c;
}

/*=================================================================================================
  OVERLAY TERMOS DE USO
  ===============================================================================================*/
.overlay-termos h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.overlay-termos .esquerda, .overlay-termos .direita {
  width: 400px;
  margin-top: 30px;
  color: #174f3d;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.overlay-termos .esquerda p, .overlay-termos .direita p {
  line-height: 1.5;
  margin-bottom: 16px;
}
.overlay-termos .direita {
  float: right;
}

#loadingCanvas{
	position:absolute;
	width:100%;
	height:100%;
	background:#36b289;
	z-index:99999999;
	top:0;
	left:0;
	opacity:0;
	-webkit-transition:all 1s ease-in;
   	-moz-transition:all 1s ease-in;
   	-o-transition:all 1s ease-in;
   	transition:all 1s ease-in;	
}

.overlay{
	-webkit-transition:all .6s ease-in;
   	-moz-transition:all .6s ease-in;
   	-o-transition:all .6s ease-in;
   	transition:all .6s ease-in;	
}